 .contenedor-compra{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    .contenedor-modal {
        margin: auto;
        width: 90%;
        max-width: 600px;
        max-height: 90%;
        background-color: #fff;
        border-radius: 2px;
        padding: 30px 20px;
        display: grid;
        gap: 10px;
        place-items: center;
        grid-auto-columns: 100%;
        transform: var(--transform);
        transition: var(--transition);
        .parrafo-modal{
            font-size: 18px;
        }
        .boton-modal {
            color: #fff;
            font-size: 20px;
            background-color: #3f3f3f;
            padding: 8px 28px;
            border: 1px solid;
            border-radius: 4px;
            display: inline-block;
            font-weight: 300;
            transition: background-color .3s;
            &:hover{
                color: #3f3f3f;
                background-color: #fff;
            }
        }
    }
}

.contenedor-compra.active{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
